/** styles.css **/

/* 
#151e3f dark blue
#030027 rich black
#f2f3d9 beige
#dc9e82 tumbleweed
#c16e70 rose gold 

#BFDBE6 pale blue
*/


/** html elements **/

h1, h2, h3, h4 {
    color: #546267;
    font-family: 'PT Sans Caption', sans-serif;
}
a {
    color: #c16e70;
}

/** nav **/
.navbar {
    background-color: rgba(3, 0, 39, .95);
    background-image: url('../images/hixs-evolution.png');
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color:#c16e70;
}
.navbar a.active {
    font-weight: bold;
}
.navbar-brand {
    color: #f2f3d9;
}


/** shared **/
.pic-bar {
    background-image: url('../images/pexels-photo-255379.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
}
.main {
    background-color: white;
    padding-top: 50px;
}
.main .row {
    padding-bottom: 30px;
}

.well {
    background-color: #F8FFFF;
    border: 1px solid #B6D4DF;
    border-radius: 5px;
    color: #546267;
    padding: 10px 30px;
}

/** home **/
.jumbotron {
    background-image: url('../images/pexels-photo-255379.jpg');
    background-size: cover;
    color: #151e3f;
    height: 400px;
}
.jumbotron h1 {
    text-shadow: -1px -1px 2px white;
}

/** portfolio **/
.portfolio-tile {
    background-color: #F8FFFF;
    height: 400px;
    padding-top: 300px;
    width: 100%;
    margin-bottom: 20px;
}

.portfolio-tile--title {
    background-color: rgba(255, 255, 255, .6);
    display: block;
    padding: 10px;
}
.portfolio-tile--title:hover {
    background-color: white;
}


/** contact **/
.contact-form {
    padding: 15px;
}
.contact-form input, 
.contact-form textarea {
    color: #151e3f;
} 
.contact-form .btn {
    color: white;
    background-color: #151e3f;
}


/** footer **/
footer {
    background-color: rgba(3, 0, 39, .95);
    background-image: url('../images/hixs-evolution.png'); 
    color: #f2f3d9;
    width: 100%;
}
footer .copy {
    padding: 30px;
    text-align: center;
}